
.container{
    .aboutme{
        background-color: $darkGrayColor;
        color:black;
        margin-bottom: 2rem;
        padding: 0.5rem;
        max-width:max-content;
        h1{
            font-size:larger;
        } 
    }
    .img{
       max-width:60rem;
       max-height:35rem;
       justify-content: center;
    }
        .name{
            padding-top: 2.5rem;
            h1{
                color:black;
                font-weight: 800;
                font-size: 2rem;
                padding-bottom: 1rem;
            }
        }
        .cnt{

            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color:$darkGrayColor;
        }     
    .info-con{
        display: grid;
        grid-template-columns: 1fr 3.5fr;
        .topic{
            label{
                color:black;
                font-weight:500;
            }
        }  
        div{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: fit-content;
            label{
                margin: 3px;
            }
        }
    }
    .btn{
        background-color: black;
        color:$whiteColor;
        padding: 0.75rem;
    }
    .container-progress{
       background-color: $whiteColor;
       padding-bottom: 1rem;
        h2{
            padding-top: 1rem;
            padding-left: 0.6rem;
            font-size:large;
            font-weight: 700;
            color: black;
            background-color: $whiteColor;     
        }
        .progress-bar{
            text-align: left;
            padding: 0.50rem;
          .ui{
            div{
                margin: 0.50rem;
                padding-bottom: 0.5rem;
            }
          }
          h4{
            font-size: 1rem;
          }
        }
 }
        .education-experience-conteiner{
                display: grid;
                grid-template-columns: 1fr 1fr;
                h1{
                    font-size:large;
                    font-weight: 700;
                    color: black;
                }
                .container-grid{
                  .container-cub{
                    max-height: fit-content;
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    &-row{
                        display: flex;
                        flex-direction:row;
                        max-height: fit-content;
                        div{  
                            margin: 2px;
                            padding: 5px;
                            p{
                                background-color: $darkGrayColor;
                                border-radius: 2rem;
                                padding: 0.75rem;
                                margin-top: 0.60rem;
                                max-width:max-content;
                            }
                        }
                    }
                        .info-cub{
                            max-width: max-content;
                            margin-top: 1.2rem;
                            margin-left: 1.2rem;
                            h4{
                                font-size:medium;
                                font-weight: 700;
                                color: black;
                            }
                            h6{
                                font-size: small;
                                color:$grayColor;
                            } 
                        }
                }
            }

        }

        
}

.colorr{
    height: 0.5rem !important;
    .progress-bar{
        background-color: black !important;
       
    }
}
@media (max-width:767px) {
    .container{
        top:25px;
        left: 0;
        width: auto;
    }
    .img{
        width:-webkit-fill-available;

    }
    .name{
        h1{
            margin-top: 1rem;
        }
    }

}
  
