

.container-contact{
    top: 10rem;
}
h2{
    color: black;
    margin-bottom: 1.5rem;
    background-color:$darkGrayColor;
    max-width: max-content;
    padding: 0.25rem;
    border-radius: 5px;
}

@media (max-width:767px) {
   
    .container-contact{
        top:5rem;

    }
}