

.home{
    margin-top: 5rem;
    .container{
        .container-grid{
            display: grid;
            grid-template-columns: 1fr 5fr;
            justify-content: center;
            align-items: center;
        }
        .container-info{
            padding: 1.5rem;
            .name h1{
               color:black;
                font-size:4.3rem;
                padding-bottom: rem;
                font-weight: 800;  
            }
        }
        .img{
            height:20rem;
            width: 20rem;
        }
    }
}
 

//Social

.social {
    a{
    margin: 0.25rem;
    color:black;
    width: 30px;
    height: 30px;
    }
    .social a:hover{
        color:#333;

    }
}
@media (max-width:767px) {
    .container{
        .container-grid{
            .container-info{

                padding: 0 !important;
                margin: 8px !important;
            }
        }
    }
    .name{
        max-width: fit-content;
        padding-top: 0 !important;
    }
    .name h1{
        font-size: 1rem !important;
    }

}