

.navbar{
    position: fixed;
    top:0;
    left: 0;
    width: 26%;
    height:100%;
    background-color: $whiteColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:$fontMontserrat;

    a{
        color : $grayColor;
        font-size: 25px;
        width: 100%;
        display:block;
        text-decoration: none;
        margin: 20px;
    
    
    }
    .namee{
        position:absolute;
        justify-content: center;
        top :5%;
        left: 15%;
        color : black;
        max-width:max-content;
        p{
            margin-top: 2rem;
           font-size:2rem;
            font-weight: 600;

        }
    }
 

}
.hamburgerActivate{
    display: none ;
}



@media (max-width:767px) {
    .navbar {
        position: relative ;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        z-index: 1;
        .namee{
            position: relative;
            left: 18px;
            top: -7px;
            p{
                color: white;
                font-size: 20px;
            }
        }
        .hamburgerActivate{
            display: flex;
            position: absolute;
            right: 0;
            width: 40px;
        }
        .linkk {
            position: absolute;
            top: 100px;
            background-color: black;
            width: 100%;
            z-index: 1;
        }
        a{
            color: white;
        }
    }

}





