//FA
$whiteColor :rgb(255, 255, 255);
$grayColor: rgb(110, 106, 106);


// FONT
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont : 'Times New Roman', Times, serif;
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap');